<!-- User notifications, display with jQuery -->
<% if user_signed_in? && !current_user.notifications.empty? %>
  <div id="notifications">
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<% if !user_signed_in? %>
  <p>Sign in to post a question!</p>
<% else %>
  <%= link_to 'Post Question', new_question_path %>
<% end %>

<div id="qlist-header">
    <p id="list-content">Questions</p>
    <%= link_to filter_path, remote: true do %>
      <p id="filter-button">all</p>
    <% end %>
    <%= link_to filter_path(top: true), remote: true do %>
      <p id="filter-button">top</p>
    <% end %>
</div>
<div id="index">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>
