<%if !@user.nil?%>
<%
  if !@user.avatar.url.nil?
	av = @user.avatar.url
  else
	av = @default_avatar
  end
%>

<div id='avatar'>
  <%=image_tag(av, :class => "image_avatar")%>
</div>
<br id="clear-both">
<span id="username">Username: <%=@user.username%></span><br>
<span id="email">Email: <%=@user.email%></span><br>
<span id="last_sign_in_at">Last Sign In At: <%=@user.last_sign_in_at%></span><br>
<span id="signature">Signature: <br> <%=@user.signature%></span><br>

<%else%>
<span id="no_user">No user exists with this user name</span>
<%end%>
