<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Last Logged In</th>
      <th>Signature</th>
      <%
		if user_signed_in?
			if current_user.isadmin
				%>
			      <th>Actions</th>

				<%
			end
		end
	  %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
		<%
		if u.avatar.url.nil?
			av = @default_avatar
		else
			av = u.avatar.url
		end
		%>
		<tr>
		<td>
			<%= render u %>
		</td>
		<td><%= u.email %></td>
		<td><%= u.last_sign_in_at %></td>
		<td><%= u.signature %></td>
	    <%
		if user_signed_in?
			if current_user.isadmin && !u.isadmin
				%>
			      <td><%= link_to "Delete", user_delete_path(u), method: :delete, data: { confirm: "Are you sure?" } %></td>
				<%
			end
		end
		%>
		</tr>
    <% end %>
  </tbody>
</table>

<br>
