<!DOCTYPE html>
<html>
<head>
  <title>Ask Mines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="header"><a href="/">Ask Mines</a></h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<!-- User notifications -->
<div id="notifications">
  <% if user_signed_in? && !current_user.notifications.empty? %>
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>

<hr>

<div id="wrapper">
  <div id="left-col">
    <!-- Login links and signed in user -->
    <div id="login-box">
      <!-- avoid login form if displayed in content already -->
      <% unless content_for(:devise) %>
        <% if user_signed_in? %>
      	  <p>Welcome!</p><br>
          <%= render current_user %><br>
          <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
        <% else %>
          <!-- display login form -->
          <p>Sign in to contribute!</p>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username %><br>
            <%= f.label :password %>
            <%= f.password_field :password %><br>
            <%= f.submit 'Sign in' %>
          <% end %><br>
          <p>No account? 
      	    <%= link_to "Sign up!", new_user_registration_url %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="right-col">
    <div id="content">
      <%= content_for?(:devise) ? yield(:devise) : yield %>
    </div>
  </div>
</div>

</body>
</html>
