<!DOCTYPE html>
<html>
<head>
  <title>Ask Mines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="header">
  <a href="/" id="root-link">Ask Mines</a>
  <div id="header-links">
    <% if user_signed_in? %>
      Welcome <%= current_user.username %>!  Not you? <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_url %>
      <%= link_to "Sign up!", new_user_registration_url %>
    <% end %>
  </div>
</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<!-- User notifications -->
<div id="notifications">
  <% if user_signed_in? && !current_user.notifications.empty? %>
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>
    <br>
    <div id="all_users"><a href="/profile/list">List All Users</a></div>

<hr>

<div id="wrapper">
  <div id="content">
    <%= content_for?(:devise) ? yield(:devise) : yield %>
  </div>
</div>

</body>
</html>
