<!DOCTYPE html>
<html>
<head>
  <title>Ask Mines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="header">
  <span id="root-link">
    <a href="/">Ask Mines</a>
  </span>
  <span id="header-buttons">
    <% if !user_signed_in? %>
      <%= button_to "log in", new_user_session_url, method: :get %>
      <%= button_to "sign up", new_user_registration_url, method: :get %>
    <% else %>
      <p id="welcome-message">Welcome <%= current_user.username %></p> 
      <%= button_to "sign out", destroy_user_session_url, method: :delete %>
      <%= button_to "profile", user_profile_path(current_user), method: :get %>
    <% end %>
    <%= button_to "users", profile_list_path, method: :get %>
  </span>
</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<!-- User notifications -->
<div id="notifications">
  <% if user_signed_in? && !current_user.notifications.empty? %>
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>

<div id="wrapper">
  <div id="content">
    <%= content_for?(:devise) ? yield(:devise) : yield %>
  </div>
</div>

</body>
</html>
