<!DOCTYPE html>
<html>
<head>
  <title>Ask Mines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="header">Ask Mines</h1>

<hr>

<!-- User notifications -->
<div id="notifications">
  <% if user_signed_in? && !current_user.notifications.empty? %>
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</div>

<div id="wrapper">
  <div id="left-col">
    <!-- Login links and signed in user -->
    <div id="login-box">
      <% if user_signed_in? %>
    	Signed in as <b><%= current_user.username %></b>.  Not you? <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
      <% else %>
    	<%= link_to "Log In", new_user_session_url %> <%= link_to "Sign Up", new_user_registration_url %>
      <% end %>
    </div>
  </div>

  <div id="right-col">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
