<p><%= answer.user.username %>
<p>
  <strong>Content:</strong>
  <%= answer.content %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= answer.upvotes %>
  <% if !user_signed_in? || current_user.id != answer.user_id %>
    <%= button_to 'Upvote!', answer_upvote_path(@question,answer) %>
  <% end %>
</p>

<% if user_signed_in? && (current_user.id == answer.user_id || current_user.isadmin) %>
  <%= link_to 'Edit', edit_question_answer_path(@question,answer) %>
<% end %>

<% if user_signed_in? && current_user.isadmin %>
  <%= link_to 'Delete', question_answer_url(@question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>